

body{

    margin: auto;
padding-top: 10px;
padding-left: 15%;
padding-right: 15%;
align-items: center;
text-align: left;

}

div {

    font-size: large;
    font-family: 'Shippori Antique B1', sans-serif;
    text-align: center;

}

.capt {

    font-size: 30px;

}

h3 {

text-align: center;

}

.dialoguefield {

margin: auto;
padding: auto;
line-height: 3vh;
align-items: left;

}

.title1 {

    font-size: 100px;

}

p {

    font-family: 'Shippori Antique B1', sans-serif;
    font-size: 80px;
    text-align: left;
    background-color: white;

}